@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>哦</h1>
                <h2>，被发现了</h2>
            </hgroup>
            <p>
                你好，再见
            </p>
        </div>
    </section>
}
<h3>这是</h3>
<ol class="round">
    <li class="one">
        <h5>activity</h5>
        随便参加
    </li>

    <li class="two">
        <h5>org</h5>
        随便报名
    </li>

    <li class="three">
        <h5>吐槽</h5>
        文明吐槽
    </li>
</ol>
